* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* font-size: 16px; */

}

body {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Mitr";
    line-height: 1.6;
    color: var(--text-color);

    background-color: linear-gradient(135deg, #c9c9ff 0%, #b6b6ff 50%, #9d9dff 100%);
}

.container ,.section{
    max-width: 1320px;
    margin: 0 auto;
}

:root {
    /* สีหลักของเว็บ */
    --primary-color: #7aedf5;
    --primary-dark-color: #0b2552;
    --secondary-color: #9666ff;
    --secondary-dark-color: #48217e;

    /* สีข้อความ */
    --text-color: black;
    --text-mute-color: #838282;
    --text-nav-color: #383838;
    --text-light-color: white;
    --text-blue : #182946;
    --text-purple : #3a1846;
    --text-green : #18461e;
    --text-light-green : #1a8128;
    --text-orange : #c14000;
    --text-red : #c10000;


    /* สีพื้น */
    --background-btn-color: #7aedf5;
    --background-footer-color: black;
    --background-blue: #cfebff;
    --background-purple: #e2dbff;
    --background-green: #d3ffe7;
    --background-orange: #ffded3;
    --background-mute-color: #e6fdff;


    /* สีเงา */
    --header-shadow: 0 4px 8px #c3c3c3;
    --card-shadow: 0 4px 8px #939393;

    /* สีขอบ */
    --border-color: #5d5d5d;
}

/* ------------------------------------
                Header
---------------------------------------*/
.header {
    border-color: var(--border-color);
    background-color: #fffff3ba;
    box-shadow: var(--header-shadow);

    position: sticky;
    top: 0;
    z-index: 10;

    backdrop-filter: blur(10px);
}

.header-content {
    text-align: center;
    padding-block: 1.5rem;
    /* ใช้งานแทน pixel สำหรับที่ไม่ใช่ค่าตายตัว*/
}

.header-title {
    color: var(--primary-color);
    font-size: 3rem, 5vw, 4rem;
    line-height: 1.2;
    margin-bottom: 0.25rem;
}

.header-subtitle {
    color: var(--text-mute-color);
}

/* ------------------------------------
                Nav
---------------------------------------*/
nav {
    padding-block: 2rem;
    text-align: center;
}

/* nav a {
    text-decoration: none;
    color: var(--text-nav-color);
    padding: 0.65rem 1.2rem;

    box-shadow: var(--card-shadow);

    border-radius: 999px;
    margin-right: 0.5rem;

    transition: transform 0.5s;

    display: inline-block;
}

nav a:hover {
    transform: translateY(-10px);
}

nav a.active {
    background-color: var(--background-btn-color);
    color: var(--text-light-color);
} */



.category-nav label{
    color: var(--text-nav-color);
    padding: 0.65rem 1.2rem;

    box-shadow: var(--card-shadow);

    border-radius: 999px;
    margin-right: 0.5rem;

    transition: transform 0.5s;

    display: inline-block;
}
.category-nav label:hover{
    transform: translateY(-10px);
}
.filter-radio{
    /* display: none; */
    position: absolute;
    width: 1px;
    height: 1px; 
    overflow: hidden;
}

#filter-all:checked ~ .category-nav label[for="filter-all"],
#filter-dog:checked ~ .category-nav label[for="filter-dog"],
#filter-cat:checked ~ .category-nav label[for="filter-cat"],
#filter-bird:checked ~ .category-nav label[for="filter-bird"],
#filter-fish:checked ~ .category-nav label[for="filter-fish"],
#filter-smallpet:checked ~ .category-nav label[for="filter-smallpet"]
{
    background-color: var(--secondary-color);
    color: var(--text-light-color);
}

.category-hide{
    /* ซ่อนชื่อหมวดหมู่*/
    display: none;
}
/* โชว์ชื่อหมวดหมู่ */
#filter-all:checked ~ main .show-all,
#filter-dog:checked ~ main .show-dog,
#filter-cat:checked ~ main .show-cat,
#filter-bird:checked ~ main .show-bird,
#filter-fish:checked ~ main .show-fish,
#filter-smallpet:checked ~ main .show-smallpet
{
    display: inline;
}

/* ----------------------------------------------- */


/* ซ่อนการ์ดสัตว์ */
#filter-dog:checked ~ main .pet-card,
#filter-cat:checked ~ main .pet-card,
#filter-bird:checked ~ main .pet-card,
#filter-fish:checked ~ main .pet-card,
#filter-smallpet:checked ~ main .pet-card
{
    display: none;
}
/* โชว์การ์ดสัตว์ */
#filter-dog:checked ~ main .show-dog,
#filter-cat:checked ~ main .show-cat,
#filter-bird:checked ~ main .show-bird,
#filter-fish:checked ~ main .show-fish,
#filter-smallpet:checked ~ main .show-smallpet
{
    display: block;
}



/* ------------------------------------
                Main
---------------------------------------*/
.page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.pet-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit,minmax(min(100%,300px),1fr));

    gap: 2rem;
}

.pet-card {
    border: var(--border-color);
    box-shadow: var(--card-shadow);

    border-radius: 25px;
    overflow: hidden;

    transition: transform 0.5s;
}

.pet-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--header-shadow);
}

.pet-card img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}

.pet-content {
    padding: 1.25rem;
}

.pet-content h2 {
    color: var(--primary-dark-color);
}

.breed {
    color: var(--text-mute-color);
}


/* --------btn show-hide description-------- */
.pet-info{
    list-style: none;
    margin-block: 1rem;
}
.pet-info li{
    margin-bottom: 0.25rem
}
.info-lifespan{color: var(--text-red);}
.info-size{color: var(--text-blue);}
.info-temperament{color: var(--text-light-green);}

.pet-details summary{
    list-style: none;
}
.pet-btn{
    background-color: var(--background-btn-color);
    padding: 0.5rem 1rem;
    text-align: center;

    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);

    color: var(--text-light-color);
    cursor: pointer;

    transition: 0.5s;
}
.pet-btn:hover{
    background-color: var(--primary-dark-color);
    transform: translateY(-5px);
}

.hide-detail{
    display: none;
}
.pet-details[open] .hide-detail {
    display: inline;
}
.pet-details[open] .show-detail {
    display: none;
}

.pet-details-body{
    margin-top: 0.8rem;
    animation: appear 0.5s ease-out;
}
.pet-details-body section + section{
    margin-top: 0.8rem;
}
@keyframes appear{
    from {opacity: 0; transform: translateY(-30px);}
    to {opacity: 1; transform: translateY(0);}
}


/* ------------------------------------
                Section
---------------------------------------*/
.info-section {
    border: var(--border-color);
    box-shadow: var(--card-shadow);

    border-radius: 25px;
    
    padding: 1rem;
    margin-top: 2rem;
}

.info-title {
    text-align: center;
}

.info-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    grid-template-columns: repeat(auto-fit,minmax(min(100%,250px),1fr));
    gap: 2rem;

    margin: 1rem;
}

.info-card {
    border: var(--border-color);
    border-radius: 25px;

    padding: 1.25rem;
}

/* card color+text ==section== */
.info-blue{
    background-color: var(--background-blue);
}
.info-blue h3 {
    color: var(--text-blue);
}
.info-green{
    background-color: var(--background-green);
}
.info-green h3 {
    color: var(--text-green);
}
.info-purple{
    background-color: var(--background-purple);
}
.info-purple h3 {
    color: var(--text-purple);
}
.info-orange{
    background-color: var(--background-orange);
}
.info-orange h3 {
    color: var(--text-orange);
}

/* ------------------------------------
            Table
---------------------------------------*/
.pet-table{
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;
    table-layout: fixed;
    
}
.pet-table td,.pet-table th{
    border:1px solid #464646;
    padding: 1rem;
    vertical-align: top;
    overflow-wrap: break-word;
}
.pet-table caption{
    text-align: left;
    font-weight: bold;
    color: var(--primary-color);
    caption-side: top;


    /* เอาcaption ไว้ข้างล่าง */
    /* caption-side: bottom; */
}
.pet-table thead th{
    background-color: var(--primary-dark-color);
    color: var(--text-light-color);
}
.pet-table tbody th{
    background-color: var(--background-mute-color);
    text-align: left;

    white-space: nowrap;

    /* overflow-wrap: break-word; */
}
/* .pet-table thead th:nth-child(1){width: 200px;} */
/* .pet-table thead th:nth-child(2){width: 300px;} */
.pet-table thead th:nth-child(3){width: 200px;}
/* .pet-table thead th:nth-child(4){width: 300px;} */
.pet-table thead th:nth-child(5){width: 200px;}

.pet-table tbody tr:nth-child(even){
    background-color: var(--background-mute-color);
}
.pet-table tbody tr:hover{
    background-color: var(--background-orange);
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
}
/* ------------------------------------
            Form Radio Button
---------------------------------------*/
.form-radio{
    border: var(--border-color);
    box-shadow: var(--card-shadow);

    border-radius: 25px;
    
    padding: 1rem;
    margin-top: 2rem;
}
.form-radio h2{
    text-align: center;
    color: var(--primary-dark-color);
}
.form-radio p{
    margin-bottom: 0.25rem;
    text-align: center;
    color: var(--text-mute-color);
}
.form-radio fieldset{
    padding: 1.5rem;
    border: 0.5px solid var(--border-color);
    border-radius: 0.7rem;
}
.form-radio legend{
    padding: 0 1rem;
    color: var(--primary-color);
    font-weight: bold;
}
.radio-option{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.radio-item label{
    background-color: var(--background-mute-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.radio-item input{
    accent-color: var(--secondary-color);
}
.radio-item input:checked + label{
    background-color: var(--secondary-dark-color);
    color: var(--text-light-color);
}
.reset-btn{
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    display: block;
    margin: 1rem auto 0;
}



/* ------------------------------------
                Footer
---------------------------------------*/
footer {
    background-color: var(--primary-dark-color);
    color: var(--text-light-color);
    text-align: center;
    padding-block: 1rem;
    margin-top: 1rem;

    cursor: pointer;
}


/* ------------------------------------
                Responsive
---------------------------------------*/

/* tablet */
@media (max-width:992px) {
    .pet-grid{
        /* grid-template-columns: repeat(2,1fr); */
    }
}
/* mobile */
@media (max-width:768px) {
    .pet-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .category-nav label{
        display: block;
        margin: 0.4rem 3rem;
        border-radius: 1rem;
    }
    .category-nav label:hover{
        transform: translateY(-5px);
    }
    .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    margin: 1rem;
}
}